body, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Droid Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  background: #6001f8;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
}

.w3-row-padding img {
  margin-bottom: 12px
}

.w3-sidebar {
  width: 120px;
  background: #222;
}

.livro{
  align-items: right;
  /* text-align: right;  */
}

.red-background {
  background-color: red !important;
  color: #e4e4e4 !important;
  
}

.pagination{
  justify-content: center;
}

.w3-button a {
  /* text-decoration: none; */
  color: white;
}

#main {
  margin-left: 120px
}

a {
  text-decoration: none
  color( #FFFFFF )
}
form{
  text-align: center;
  margin: 0.5rem ;
  width :37%;
  /* padding:  9% 10% 10% 10%; */
  display: inline-block;
  /* -webkit-border-radius: .5em;-moz-border-radius:.5em; */
  overflow: hidden;
  border: 1px solid black;

}

.title  {
  font-size: 2.5rem !important;
  color: #FFFFFF;
  background: #6001f8;
  font-family: "Montserrat", "Droid Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0
  }
}
