<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <h1>Alterar livro</h1>
  <form id="bookForm" class="filter-form">
    <div class="form-group">
      <label for="nomeLivro">Nome do Livro:</label>
      <input type="text" id="nomeLivro" required>
      <br>
      <label for="autorLivro">Autor do Livro:</label>
      <input type="text" id="autorLivro" required>
      <br>
      <label for="generoLivro">Gênero do Livro:</label>
      <input type="text" id="generoLivro" required>
      <br>
      <label for="statusLivro">Status do Livro:</label>
      <select id="statusLivro">
        <option value="true">Emprestado</option>
        <option value="false">Não Emprestado</option>
      </select>

      <button type="button" onclick="alterarDadosLivro({{ livro.id }})">Alterar Dados</button>

      <button type="button" onclick="deletarLivro({{ livro.id }})">Deletar Livro</button>
    </div>
  </form>
</div>