<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
    integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link type="text/css" rel="stylesheet" href="css/_index.css">
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
  <title>LibManager</title>
</head>
<body class="w3-black">
  <!-- Icon Bar (Sidebar - hidden on small screens) -->
  <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <img src="imgs/bg.jpg" style="width:100%">
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
      <i class="fa fa-home w3-xxlarge"></i>
      <p>Inicio</p>
    </a>
    <a href="#livros" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-bookmark w3-xxlarge"></i>
      <p>Livros</p>
    </a>
    <a href="#clientes" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="far fa-user w3-xxlarge"></i>
      <p>Bibliotecarios</p>
    </a>
    <a href="#suporte" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-envelope w3-xxlarge"></i>
      <p>Suporte</p>
    </a>
  </nav>