<!-- Clientes Section -->
<div class="w3-content w3-justify w3-text-grey w3-padding-64 id=" clientes">
  <div class="livro-container">
    <h1>Registros</h1>
    <!-- Grid for clients -->
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        Clientes cadastrados aqui!
      </div>

      <div class="w3-half">

      </div>
      <!-- End books grid -->
    </div>
    <!-- End Portfolio Section -->
  </div>
  <!-- Bibliotecario Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="funcionario">
    <!-- <h2 class="w3-text-light-grey">Bibliotecarios</h2>
  <hr style="width:200px" class="w3-opacity">
  <p>{Listar managers aqui}</p>

  <button class="w3-button w3-light-grey w3-padding-large w3-section">
    <i class="fa fa-download"></i> Exportar relatório
  </button> -->

  </div>

  <!-- End About Section -->
</div>