<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="inicio">
    <img src="../static/imgs/biblioteca.jpg" style="width:50%" alt="">
    <h1 class="w3-jumbo"><span class="w3-hide-small">Gerenciar</span> livraria</h1>
  </header>
  <!-- Livros Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="livros">
    <div class="livro-container">
      <h1>Livros</h1>
      <table id="my-table" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Autor</th>
            <th scope="col">Genero</th>
            <th scope="col">Emprestado</th>
            <th scope="col">Ações</th>
            <!-- <th scope="col">Para quem foi emprestado</th> -->
          </tr>
        </thead>
        <form action="/" method="GET" class="filter-form">
          <div class="form-group">
            <select name="genero" class="form-control" id="generoSelect">
              <option value="Genero">Genero</option>
            </select>
          </div>

          <div class="form-group">
            <select name="autor" class="form-control" id="autorSelect">
              <!-- Exibir os autores em ordem alfabética -->
              {% for author in autores|sort %}
              <option value="{{ author }}">{{ author }}</option>
              {% endfor %}
            </select>
          </div>


          <div class="form-group">
            <input type="text" name="nome" class="form-control" placeholder="Titulo">
          </div>
          <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
        <tbody>
          <!-- Exibir os livros -->
          {% for livro in livros %}
          <tr>
            <th>{{ livro.nome }}</th>
            <td>{{ livro.autor }}</td>
            <td>{{ livro.genero }}</td>
            <td>
            {% if livro.status %}
              {% if livro.emprestado_para %}
                {{ livro.emprestado_para }}
              {% else %}
              Empréstimo registrado, mas não disponível
            {% endif %}
              {% else %}
            Não emprestado
            {% endif %}
            </td>
            <td>
              <a href="{{ url_for('edit_book', livro_id=livro.id) }}"method="POST">Editar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="pagination" id="pagination">

      <button class="w3-button w3-blue w3-padding-large w3-section" id="redirect-button">Cadastro de Livros</button>

      <a class="w3-button w3-blue w3-padding-large w3-section" href="{{ url_for('listar_livros', page=page-1) }}">Página
        Anterior</a>
      <a class="w3-button w3-blue w3-padding-large w3-section"
        href="{{ url_for('listar_livros', page=page+1) }}">Próxima Página</a>

    </div>
  </div>
</div>

</div>