<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="livros">
    <div class="livro-container">
      <div class="title">Lista de pessoas</div>
      <table id="my-table" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th th colspan="2">Quantidade de Livros Emprestados</th>
          </tr>
        </thead>
        <tbody>
          {% for pessoa in pessoas %}
            <tr>
              <td>{{ pessoa.nome }}</td>
              <td colspan="2">{{ pessoa.qtd_livros_emprestados }}</td>  <!-- Ocupa duas colunas -->
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>