<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Livros Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="livros">
    <div class="livro-container">
      <div class="title">Lista de livros</div>
      <table id="my-table" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Capa</th>
            <th>Nome</th>
            <th>Autor</th>
            <th>Genero</th>
          </tr>
        </thead>
        <tbody>
          {% for livro in livros %}
          <tr>
              <td>
                {% if livro.capa_url %}
                  <img src="{{ livro.capa_url }}" alt="Capa do Livro" width="50">
                {% else %}
                  <img src="../static/imgs/NotFound.png" alt="Capa Padrão" width="50">
                {% endif %}
              </td>
              <td>{{ livro.nome }}</td>
              <td>{{ livro.autor }}</td>
              <td>{{ livro.genero }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>