<div class="w3-padding-large" id="main">
    <!-- Header/Home -->
    <header class="w3-container w3-padding-32 w3-center w3-black" id="inicio">
      <img src="../static/imgs/biblioteca.jpg" style="width:50%" alt="">
      <h1 class="w3-jumbo"><span class="w3-hide-small">Gerenciar livraria</span></h1>
    </header>
  
    <h1>Registrar livro</h1>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <form action="{{ url_for('add_book') }}" method="POST" class="filter-form">
            <div class="form-group">
                <label for="nome">Título do Livro</label>
                <input type="text" name="nome" class="form-control" required>
        
                <label for="autor">Nome do Autor</label>
                <input type="text" name="autor" class="form-control" required>
        
                <label for="genero">Gênero do Livro</label>
                <input type="text" name="genero" class="form-control" required>
        
                <button type="submit" class="w3-button w3-blue w3-padding-large w3-section">Adicionar Livro</button>
                
            </div>
        </form>
        <form action="/upload_books" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".xml, .css, .xlsx" required>
            <button type="submit" class="w3-button w3-blue w3-padding-large w3-section">Importar Livros</button>
        </form>
    </div>
  </div>
  
  <script>
    document.getElementById('status').addEventListener('change', function() {
      var borrowerField = document.getElementById('borrower-field');
      borrowerField.style.display = this.checked ? 'block' : 'none';
    });
  </script>
  