<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
      integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
  
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/_index.css') }}">

    <title>LibManager </title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">LibManager | Inicio</a>
    </nav>
 
    <div class="container pt-4">
      {% block body %}

      {% endblock %}
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
    const btnDelete= document.querySelectorAll('.btn-delete');
    if(btnDelete) {
      const btnArray = Array.from(btnDelete);
      btnArray.forEach((btn) => {
        btn.addEventListener('click', (e) => {
          if(!confirm('Are you sure you want to delete it?')){
            e.preventDefault();
          }
        });
      })
    }
    
    $(document).ready(function() {
        $('#example').DataTable({     
          "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
            "iDisplayLength": 3
          } 
        );
    } );
    
    </script>
  </body>
</html>